@import "../../foundation/function.scss";

.p-section {
  &__header {
    max-width: 100%;
    height: rem(160);
  }

  &__list {
    &.-side {
      display: flex;
      align-items: center;
      gap: rem(16);
    }
  }

  &__listMenu {
    flex: 1;
  }
}
