@import "../../foundation/function.scss";

.p-section {
  &.-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__list {
    &.-side {
      display: flex;
      align-items: center;
      gap: rem(16);
    }
  }

  &__listMenu {
    flex: 1;
  }

  &__listImg {
    width: 90%;
    height: 90%;
  }
}
