@import "../../foundation/function.scss";
@import "../../foundation/mixin.scss";

.c-text {
  letter-spacing: rem(0.8);

  &.-size-xs {
    font-size: rem(8);
  }

  &.-size-s {
    font-size: rem(16);
  }

  &.-size-m {
    font-size: rem(24);
  }

  &.-size-l {
    font-size: rem(32);
  }
  @include baseFont;
}
