@import "../foundation/function.scss";

.u-mt-16 {
  margin-top: rem(16);
}

.u-mt-24 {
  margin-top: rem(24);
}

.u-mt-32 {
  margin-top: rem(32);
}

.u-mt-48 {
  margin-top: rem(48);
}

.u-mt-64 {
  margin-top: rem(64);
}

.u-mt-80 {
  margin-top: rem(80);
}

.u-mb-32 {
  margin-bottom: rem(32);
}

.u-m-inline-auto {
  margin-inline: auto;
}
