@import "../foundation/function.scss";

.u-position {
  &--relative {
    position: relative;
  }

  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
